<ion-header>
  <ion-toolbar>
    <ion-title>enrollmentsucessfulinformation_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>

     <ion-grid>
   <ion-row>
       <ion-col>
          <ion-img src="https://upload.wikimedia.org/wikipedia/en/5/55/Lourdes_College_official_seal.png"></ion-img>
          <br>
          <ion-label id ="fontstyle">LOURDES COLLEGE</ion-label>
          <br>
          <ion-label id ="fontstyle2">CAGAYAN DE ORO CITY</ion-label>
          <br>
          <br>
          <br>
          <br>
          <br>
          <ion-label id ="fontstyle3">ENROLLMENT SUCCESSFUL</ion-label>
          <br>
          <ion-label id ="fontstyle4">REFERENCE NO: LCCDO2020</ion-label>
          <br>
          <br>
          <ion-label>FULL NAME:KYLE BRYANT M. MELO</ion-label>
          <br>
          <br>
          <ion-label>COURSE AND YEAR: COURSE-YEAR</ion-label>
          <br>
          <br>
          <ion-label>ID NUMBER:C20-0002</ion-label>
          <br>
          <br>
          <br>
          <ion-button expand="block" (click) = "goToIndex()">BACK TO MAIN MENU</ion-button>
        </ion-col>
      </ion-row>
     </ion-grid>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
      <a href (click) = "goToSettings()">SETTINGS</a>
</ion-content>
