*{
    align-items:center;
    text-align:center;
    width:auto;
    margin:auto; 
}



ion-button{
    width:auto;
    margin:auto;
    align-items:center;
    text-align:center;
}

#boldstraight{
    font-family:Arial;
    font-size:12;
    font-weight:bold;
    text-align:center;
    align-items:center;
}