<ion-header>
  <ion-toolbar>
    <ion-title>settings_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
<br>
<br>
<br>
<br>
<div style="width:85%; margin-left:auto;margin-right:auto;border:3px solid black" id="rounded" >
<ion-label id="boldstraight">TEXT SIZE</ion-label>
<ion-range></ion-range>

<br>
<br>
<br>

  <ion-item>
    <ion-toggle enable-on-off-labels="true"></ion-toggle>
    <ion-button color="dark">DARK MODE</ion-button>
  </ion-item>
  

  <ion-label>TEXT SIZE SET TO: LARGEST</ion-label>
<br>
<br>
<ion-label>DARK MODE: ON</ion-label>
<br>
<br>
<ion-button color="success" id="boldstraight">SET</ion-button>
&nbsp;
<ion-button id="boldstraight">BACK</ion-button>

</div>
</ion-content>
