<ion-header>
  <ion-toolbar>
    <ion-title>settings_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-label>TEXT SIZE</ion-label>
<ion-range></ion-range>
<ion-list>
  <ion-item>
    <ion-label>Default Toggle</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
</ion-list>
<ion-button>DARK MODE</ion-button>
<br>
<br>
<br>
<ion-list>
  <ion-item>
    <ion-label>MODE</ion-label>
    <ion-toggle enable-on-off-labels="true"></ion-toggle>
  </ion-item>
  </ion-list>

  <ion-label id = "boldstraight">TEXT SIZE SET TO: LARGEST</ion-label>
<br>
<br>
<ion-label id="boldstraight">DARK MODE: ON</ion-label>
<br>
<br>
<ion-button>SET</ion-button>
<ion-button>BACK</ion-button>
</ion-content>
