<ion-header>
  <ion-toolbar>
    <ion-title>settings_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
<br>
<br>
<br>
<br>
<div style="width:85%; margin-left:auto;margin-right:auto;border:3px solid black" id="rounded" >
<ion-label id="boldstraight">TEXT SIZE</ion-label>
<ion-range [(ngModel)] = "rangeValue" min="0" max="10" color="secondary">
  <ion-icon slot="start" size="small" name="sunny-outline"></ion-icon>
  <ion-icon slot="end" size="small" name="sunny"></ion-icon>
</ion-range>

<br>
<br>
<br>

  <ion-item>
    <ion-toggle [(ngModel)]="toggleLabel" (ngModelChange)="LightDarkMode($event)"></ion-toggle>
    <ion-label>{{ toggleLabel ? 'LIGHT MODE' : 'DARK MODE' }}</ion-label>
  </ion-item>

  <ion-label>{{ rangeValue ? 'TEXT SIZE SET TO:LARGEST' : 'TEXT SIZE SET TO:SMALLEST' }}</ion-label>
<br>
<br>
<ion-label>{{ toggleLabel ? 'DARK MODE:OFF' : 'DARK MODE:ON' }}</ion-label>
<br>
<br>
<ion-button (click) = "goToMainMenu()" color="success" id="boldstraight">SET</ion-button>
&nbsp;
<ion-button (click) = "goToEnrollment()" id="boldstraight">BACK</ion-button>

</div>
</ion-content>
