div{
    background-color:skyblue;
}
ion-item{
    background-color:skyblue;
}
#rounded{
    background-color:skyblue;
}
#rounded2{
    background-color:white;
    color:black;
}
ion-input{
    background-color:white;
    color:black;
}
.item-background-color{
    --ion-item-background:skyblue;
}

ion-select{
    background-color:white;
    color:black;
}
ion-grid{
    background-color: white;
    color:black;
    border:1px solid black;
    width:auto;
    margin-left:auto;
    margin-right:auto;
}
.requirement{
    text-align:center;
}
ion-row{
    width:auto;
    font-size:12px;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
}
ion-col{
    width:auto;
    font-size:12px;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
}
