ion-grid{
    background:rgb(185, 185, 240);
}

ion-list{
    background:rgb(200, 200, 247);
}

ion-item{
    background:rgb(189, 209, 240);
}
ion-input{
    background:rgb(131, 131, 134);
    width:30px;
    margin:auto;
}
ion-col{
    background:rgb(131, 131, 134);
}

a{
    text-align:center;
    width:auto;
    margin:auto;
}

#straightword{
    text-align:center;
}