<ion-header>
  <ion-toolbar>
    <ion-title>enrollmentconfirmation_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <br>
  <br>
  <br>

  <div style="width:85%; margin-left:auto;margin-right:auto;text-align:center;border:1px solid skyblue" id="rounded" >
   <ion-text>STUDENT INFORMATION</ion-text>
    <ion-item class="item-background-color">
      <ion-label fixed>ID Number</ion-label>
      <ion-input type="text" >{{ userInput1 }}</ion-input>
    </ion-item>
    <ion-item class="item-background-color">
      <ion-label fixed>Complete Name</ion-label>
        <ion-input type="text" >{{ userInput2 }}{{ userInput3 }}{{ userInput4 }}</ion-input>
  </ion-item>
  <ion-item class="item-background-color">
    <ion-label fixed>Address</ion-label>
    <ion-input type="text" >{{userInput5 }}</ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-label fixed>Contact Number</ion-label>
        <ion-input type="text" >{{userInput6 }} </ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-label fixed>Blood Type</ion-label>
  <ion-input type="text" > {{ userInput7 }}</ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-label fixed>Birthdate</ion-label>
        <ion-input type="text" >{{ userInput8  }}</ion-input>
  
</ion-item>
</div>

<br>
<br>
<br>

<div style="width:85%; margin-left:auto;margin-right:auto;border:1px solid skyblue" id="rounded" >
  <ion-text>STUDENT INFORMATION</ion-text>
   <ion-item class="item-background-color">
       <ion-label>Course and Year:</ion-label>
       <ion-input type="text" value=""></ion-input>
   </ion-item>
   <br>
   <br>
   <ion-text>Subjects</ion-text>
   <ion-item class="item-background-color">
    <ion-input type="text" value=""></ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-input type="text" value=""></ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-input type="text" value=""></ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-input type="text" value=""></ion-input>
</ion-item>

<ion-label>TOTAL UNITS FOR THE SEMESTER: 20</ion-label>
<br>
<ion-label>TUITION: $3,000</ion-label>
</div>

<br>
<br>


<div style="width:85%; margin-left:auto;margin-right:auto;text-align:center;border:1px solid skyblue" id="rounded" >
<ion-text>REQUIREMENTS</ion-text>
   <ion-item class="item-background-color">
    <ion-input type="text" value=""></ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-input type="text" value=""></ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-input type="text" value=""></ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-input type="text" value=""></ion-input>
</ion-item>

</div>
<br>
<br>
<br>



  <ion-button color="success" (click) = "goToSuccess()">PROCEED</ion-button>
  <ion-button color="danger" (click) = "goBack()">BACK</ion-button>

  <br>
  <br>
  <br>
  <a href (click) = "goToSettings()">SETTINGS</a>






</ion-content>
