<ion-header>
  <ion-toolbar>
    <ion-title>newandtransferstudentsenrollment_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width:85%; margin-left:auto;margin-right:auto;text-align:center;border:1px solid black" id="rounded" >
        <ion-item class="item-background-color">
            <ion-label>ID Number</ion-label>
            <ion-input type="text" id="userInput1" value=""></ion-input>
        </ion-item>
  </div>
  
  <br>
  <br>
  <br>

  <div style="width:85%; margin-left:auto;margin-right:auto;text-align:center;border:1px solid skyblue" id="rounded" >
   <ion-text>STUDENT INFORMATION</ion-text>
    <ion-item class="item-background-color">
        <ion-label>Last Name:</ion-label>
        <ion-input type="text" id="userInput2" value=""></ion-input>
    </ion-item>
    <ion-item class="item-background-color">
      <ion-label>First Name:</ion-label>
      <ion-input type="text" id="userInput3" value=""></ion-input>
  </ion-item>
  <ion-item class="item-background-color">
    <ion-label>Middle Name:</ion-label>
    <ion-input type="text" id="userInput4" value=""></ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-label>Address:</ion-label>
 <ion-input type="text" id="userInput5" value=""></ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-label>Contact #:</ion-label>
  <ion-input type="text" id="userInput6" value=""></ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-label>Blood Type:</ion-label>
  <ion-input type="text" id="userInput7" value=""></ion-input>
</ion-item>
<ion-item class="item-background-color">
  <ion-label>Birthdate:</ion-label>
  <ion-input type="text" id="userInput8" value=""></ion-input>
  
</ion-item>
</div>

<br>
<br>
<br>

<div style="width:85%; margin-left:auto;margin-right:auto;text-align:center;border:1px solid skyblue" id="rounded" >
  <ion-text>COURSE AND SUBJECTS</ion-text>
  <ion-item class="item-background-color">
       <ion-label>Course:</ion-label>
       <ion-select placeholder="Select course"  [(ngModel)]="selectedOption2">
        <ion-select-option value="BSIT" >BSIT</ion-select-option>
        <ion-select-option value="BSBA">BSBA</ion-select-option>
        <ion-select-option value="BSA" >BSA</ion-select-option>
        <ion-select-option value="BSAIS" >BSAIS</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
           Subject
        </ion-col>
        <ion-col>
          &nbsp;
          Units
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list *ngIf= "selectedOption2 === 'BSIT'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
             <ion-checkbox id="checkbox1" [(ngModel)]="checkbox1"></ion-checkbox> 
            <ion-label>IT 306 - Capstone Project 1</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-label>5</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-item>
            <ion-checkbox id="checkbox2" [(ngModel)]="checkbox2"></ion-checkbox>
          <ion-label>IT 401 - Artificial Intelligence</ion-label>
        </ion-item>
          </ion-col>
          <ion-col>
        <ion-label>5</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-checkbox id="checkbox3" [(ngModel)]="checkbox3"></ion-checkbox>
             <ion-label>IT 209 - Human Computer Interaction</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-label>5</ion-label>
          </ion-col>
        </ion-row>
     <ion-row>
      <ion-col>
         <ion-item>
          <ion-checkbox id="checkbox4" [(ngModel)]="checkbox4"></ion-checkbox>
        <ion-label>IT 102 - Computer Programming 1</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-label>5</ion-label>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-item>
          <ion-checkbox id="checkbox5" [(ngModel)]="checkbox5"></ion-checkbox>
        <ion-label>IT Elect 2 - System Integration and Architecture 2</ion-label>
      </ion-item>
      </ion-col>
      <ion-col>
        <ion-label>5</ion-label>
      </ion-col>
     </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox id="checkbox6" [(ngModel)]="checkbox6"></ion-checkbox>
        <ion-label>IT Elect 1- Mobile Application Development</ion-label>
        </ion-item>
        </ion-col>
        <ion-col>
          <ion-label>5</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox id="checkbox7" [(ngModel)]="checkbox7"></ion-checkbox>
            <ion-label>GEEL 11- Living In The IT Era</ion-label>
        </ion-item>
        </ion-col>
      <ion-col>
        <ion-label>5</ion-label>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-checkbox id="checkbox8" [(ngModel)]="checkbox8"></ion-checkbox>
        <ion-label>GEEL 13-Gender and Society</ion-label>
        </ion-item>
        </ion-col>
        <ion-col>
          <ion-label>5</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-list>

  
      
      
     

    <ion-list *ngIf="selectedOption2 === 'BSBA'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
            <ion-label>IT 306 - Capstone Project 1</ion-label>
            <ion-checkbox [(ngModel)]="checkbox1"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-label>5</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-item>
        <ion-label>IT 401 - Artificial Intelligence</ion-label>
        <ion-checkbox [(ngModel)]="checkbox2"></ion-checkbox>
      </ion-item>
          </ion-col>
          <ion-col>
        <ion-label>5</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
             <ion-label>IT 209 - Human Computer Interaction</ion-label>
            <ion-checkbox [(ngModel)]="checkbox3"></ion-checkbox>
           </ion-item>
          </ion-col>
          <ion-col>
            <ion-label>5</ion-label>
          </ion-col>
        </ion-row>
     <ion-row>
      <ion-col>
         <ion-item>
        <ion-label>IT 102 - Computer Programming 1</ion-label>
        <ion-checkbox [(ngModel)]="checkbox4"></ion-checkbox>
      </ion-item>
      </ion-col>
      <ion-col>
        <ion-label>5</ion-label>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox5"></ion-checkbox>
      </ion-item>
      </ion-col>
      <ion-col>
        <ion-label>5</ion-label>
      </ion-col>
     </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox6"></ion-checkbox>
      </ion-item>
        </ion-col>
        <ion-col>
          <ion-label>5</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox7"></ion-checkbox>
      </ion-item>
        </ion-col>
      <ion-col>
        <ion-label>5</ion-label>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
        <ion-label>GEEL 13-Gender and Society</ion-label>
        <ion-checkbox [(ngModel)]="checkbox8"></ion-checkbox>
      </ion-item>
        </ion-col>
        <ion-col>
          <ion-label>5</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-list>


    <ion-list *ngIf="selectedOption2 === 'BSA'">
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox1"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox2"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox3"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox4"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox5"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox6"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox7"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox8"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="selectedOption2 === 'BSAIS'">
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox1"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox2"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox3"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox4"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox5"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox6"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox7"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
        <ion-checkbox [(ngModel)]="checkbox8"></ion-checkbox>
      </ion-item>
    </ion-list>

    

      <br>
      <br>
    
      
  
  <br>
  <br>
  
   

</div>

<br>
<br>

<div style="width:85%; margin-left:auto;margin-right:auto;text-align:center;border:1px solid skyblue" id="rounded" >
   <ion-label>TOTAL UNITS FOR THE SEMESTER: 20</ion-label>
</div>
<br>
<br>

<div style="width:85%; margin-left:auto;margin-right:auto;border:1px solid skyblue" id="rounded" >
  <ion-label style="text-align:center">REQUIREMENTS</ion-label>
        <br>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-checkbox [(ngModel)]="option1" class="checkbox-square"></ion-checkbox>
              <ion-label>TOR</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>  
        <br> 
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-checkbox [(ngModel)]="option2" class="checkbox-square"></ion-checkbox>
              <ion-label>DIPLOMA</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>   
        <br>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-checkbox [(ngModel)]="option3" class="checkbox-square"></ion-checkbox>
              <ion-label>FORM 137</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>   
        <br>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-checkbox [(ngModel)]="option4"class="checkbox-square"></ion-checkbox>
              <ion-label>2x2 ID PICTURE</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>   
        <br>
    
</div>

<div style="width:85%; margin-left:auto;margin-right:auto;border:1px solid skyblue" id="rounded" >
  <div style="width:85%; margin-left:auto;margin-right:auto;border:1px solid skyblue" id="rounded2" >
    <ion-checkbox class="checkbox-square"></ion-checkbox>
    <ion-label>I agree to the Terms of Use and Privacy Policy</ion-label>
  </div>
</div>

<ion-button expand="block" (click) = "checkInformation()">PROCEED</ion-button>


</ion-content>
