<ion-header>
  <ion-toolbar>
    <ion-title>studentstatus_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group value="strawberries">
      <ion-item>
        <ion-label>New Student</ion-label>
        <ion-radio slot="end" value="grapes"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Old Student</ion-label>
        <ion-radio slot="end" value="strawberries"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Transferrable</ion-label>
        <ion-radio slot="end" value="pineapple"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
</ion-content>
