<ion-header>
  <ion-toolbar>
    <ion-title>studentstatus_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <br>
  <br>
  <br>
  <ion-img src="https://upload.wikimedia.org/wikipedia/en/5/55/Lourdes_College_official_seal.png"></ion-img>
  <br>
  <ion-label id ="fontstyle">LOURDES COLLEGE</ion-label>
  <br>
  <ion-label id ="fontstyle2">CAGAYAN DE ORO CITY</ion-label>
  <br>
  <br>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  
  <div>
  <ion-radio-group slot="start"  [(ngModel)] = "selectedOption">
      
        <ion-radio value="newstudent" id="newstudent" >NEW STUDENT</ion-radio>
        <ion-label>NEW STUDENT</ion-label>
        <br>
        <ion-radio value="oldstudent" id="oldstudent">OLD STUDENT</ion-radio>
        <ion-label>OLD STUDENT</ion-label>
        <br>
        <ion-radio value="transferee" id="transferee">TRANSFEREE</ion-radio>
        <ion-label>TRANSFEREE</ion-label>
        <br>
      </ion-radio-group>
  
  </div>
       

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-button expand="block" (click) = "radioOutcome()">PROCEED</ion-button>
<br>
<br>

<a href (click) = "goToSettings()">SETTINGS</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  



</ion-content>
