<ion-header>
  <ion-toolbar>
    <ion-title>studentstatus_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <br>
  <br>
  <br>
  <ion-img src="https://upload.wikimedia.org/wikipedia/en/5/55/Lourdes_College_official_seal.png"></ion-img>
  <br>
  <ion-label id ="fontstyle">LOURDES COLLEGE</ion-label>
  <br>
  <ion-label id ="fontstyle2">CAGAYAN DE ORO CITY</ion-label>
  <br>
  <br>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  
  <ion-list>
    <ion-radio-group>
       <ion-item>
        <ion-radio></ion-radio>
        <ion-label>NEW STUDENT</ion-label>
       </ion-item> 
      <br>
      <ion-item>
        <ion-radio></ion-radio>
        <ion-label>OLD STUDENT</ion-label>
      <br>
      </ion-item>
      <ion-item>
         <ion-radio></ion-radio>
         <ion-label>TRANSFEREE</ion-label>
         <br>
      </ion-item>
 
  </ion-radio-group>
  </ion-list>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-button expand="block" (click) = "goToPage2()">PROCEED</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  


<a href (click) = "goToSettings()">SETTINGS</a>
</ion-content>
