<ion-header>
  <ion-toolbar>
    <ion-title>index_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-grid>
      <ion-row>
        <ion-col>
          <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">
          <ion-label>LOURDES COLLEGE</ion-label>
          <ion-label>CAGAYAN DE ORO CITY</ion-label>
          <ion-button expand="block" (click) = "enrollNow()">ENROLL NOW</ion-button>
        </ion-col>
      </ion-row>
     </ion-grid>
</ion-content>
